header
{
    background-color: rgb(255, 226, 162);
    width: 90%;
    height: 100px;

    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

ul
{
    width: max-content;

    box-sizing: content-box;
    margin: 6px;
    gap: 18px;
    padding: 6px;

    list-style-type: none;
    display: flex;
    border: 6px solid;
}

li
{
    background-color: white;

    box-sizing: content-box;
    padding: 6px;
}

#l
{
    justify-content: flex-start;
}

#r
{
    justify-content: flex-end;
}

#logo
{
    background-color: white;
    color: orange;

    font-size: 48px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
    box-sizing: content-box;
    padding: 6px 24px;
    margin: 6px;
    border: 6px solid;
}
