html,body
{
    height: 100vh;

    margin: 0px;
    padding: 0.1px;
}

body
{
    display: flex;
    flex-direction: column;
}

header
{
    font-size: 32px;
    font-weight: 900;

    height: 100px;
    padding: 16px;

    background: darkmagenta;
    color: white;

    align-content: center;
}

footer
{
    display: flex;
    
    height: auto;
    width: auto;

    align-items: center;
    color: darkmagenta;

    margin-top: auto;
    
    background-color: #eee;
}

footer > p 
{
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
}

footer > a
{
    margin-right: auto;
    padding-left: 12px;
    color: rgb(124, 124, 124);
}

ul
{
    padding: 0px;
    margin: 0px;

    list-style: none;
}

a
{
    text-decoration: none;
    color: white;
}

main
{
    display: flex;
    height: 100vh;
    overflow: auto;
}

aside
{

    box-sizing: border-box;
    padding: 16px;
 
    width: 300px;

    font-size: 24px;

    flex-shrink: 0;     
    
    background-color: royalblue;
    color: white;
}

#card-area
{
    overflow: auto;
   
    padding: 48px;

    display: flex;
    flex-flow: wrap row;
    gap: 18px;

    background-color: white;
}

.card
{
    min-width: 300px;
    min-height: 200px;
    flex: 1;

    background-color: rgb(236, 236, 236);

    border: 3px solid;
}

#four
{
    padding-left: 9px;
}

#two
{
    padding-left: 1px;
}